<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>We, at Food Aid, provides food to poor people across the country.</li><br>

		<li>Our main aim is to eliminate the hunger and satisfy the food needs of needy people by providing them from our donors.</li><br>

		<li>The project focuses on creating a user-friendly platform that allows individuals, businesses, and institutions to easily donate excess food resources. </li>  <br>

		<li>It also provides a centralized system for food banks and charitable organizations to manage and distribute the donated food effectively.</li><br>

		<li>By implementing the Food Donation Management System, the project aims to reduce food waste, address food insecurity, and promote sustainable practices in the community.</li> <br>

		<li>We provides a digital infrastructure that streamlines the donation process, fosters collaboration between stakeholders, and maximizes the impact of food donations.</li>
	</ul>
</div>







<div class="d-flex justify-content-center fixed-bottom">&copy; Aniket</div>