<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-4">
		<li>For any concerns, please call at our numbers between 9 AM to 6 PM:</li><br>
		<ul>
			<li>9430363764 (Whatsapp)</li>
			<li>9470339930</li>
		</ul><br>
		<li>You can also visit our offices and to get insights of how our agents serve food at different places.</li><br>
		<ul>
			<li>Dipugarha, Hazaribag, Jharkhand-825301</li>
			<li>Safco Sanchar Shelters, Aswath Nagar, Thanisandra, Banglore, Karnataka-560077</li>
		</ul><br>
		<li>You can also email your suggestions and feedback at <mark>imaniketkumar19@gmail.com</mark></li>
	</ul><br>
	<a class="d-flex justify-content-center"  href="https://aniketportfolioweb.netlify.app/"><span class="bg-secondary text-white">Click Here for Show Admin Portfolio</span></a>
	
</div>



	<div class="d-flex justify-content-center fixed-bottom">&copy; Aniket</div>