<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<p class="fs-3"><b>Our mission is to feed all the needy people and no one feels that he is going to sleep hungry today. </b> 
			Over main motto is to help needy
			people. The idea behind over project can be use by many people who wish to donate things to needy organizations
			Also, many organizations like to ask for various things required by them such as clothes, food grains, books utensils.
			In this mobile app, we have tried to reduce food wastage by giving waste food to people or organization who need it.
			The needy will add to a request, in case of any leftover food donor have. This request is sent to the list of donors.
			The Available Donor then accept the request. We are going to manage the delivery system by appointing delivery
			person who will collect the food from the donor and distribute among the needy people. Second option for delivery
			system is that volunteers who wish to help to donate food can join us for distribution in near by areas. For eg: they
			can distribute food in government school, government hospital, orphanage, old age homes. And the third option is
			the Food Bank if we receive food in odd times we can give it to food bank where the care of food is taken. Safety
			and Hygiene are maintained in food banks. So. food wastage or food spoilage cannot occur.</p>
		
</div>
<div class="d-flex justify-content-center fixed-bottom">&copy; Aniket</div>